* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.hero {
  background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
}

.hero-title {
  color: white;
  font-size: 150px;
  position: relative;
  left: 100px;
  top: 70px;
}
.hero-title > span {
  color: red;
  text-shadow: 5px 5px 50px red;
  font-size: 200px;
}
.hero-tagline {
  color: white;
  font-size: 100px;
  position: relative;
  top: 70px;
  left: 100px;
}
.hero-tagline > span {
  font-size: 150px;
  color: red;
}
.hero-right {
  position: relative;
  top: 150px;
}
.hero-para {
  color: white;
  text-align: center;
  position: relative;
  left: 40px;
  top: 80px;
  font-size: 25px;
}
.hero-para > span {
  color: red;
  font-weight: bold;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 2px 2px 5px red;
}
.gallery-heading {
  font-size: 60px;
  color: red;
  text-align: center;
  margin-top: 20px;
}
.images {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10px;
  padding: 10px;
}

#image-1 {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  margin: 10px;
}
#image-1:hover {
  /* transform: rotate(90deg); */
  transform: scale(1.5);
}
#image-2 {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  margin: 10px;
}
#image-2:hover {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  transform: scale(1.5);
}
#image-3 {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  margin: 10px;
}
#image-3:hover {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  transform: scale(1.5);
}
#image-4 {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  margin: 10px;
}
#image-4:hover {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  transform: scale(1.5);
}
#image-5 {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  margin: 10px;
}
#image-5:hover {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  transform: scale(1.5);
}
#image-6 {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  margin: 10px;
}
#image-6:hover {
  /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
  transform: scale(1.5);
}

.contact-us {
  margin-top: 50px;
  background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  display: flex;
  justify-content: center;
  padding: 340px;
}
#btn {
  padding: 3px 10px;
  border-radius: 10%;
  font-size: 40px;
  outline: none;
  letter-spacing: 2px;
  background-color: #2193b0;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  top: 30px;
}
#btn:hover {
  color: red;
}
.footer-area {
  color: white;
  background-color: black;
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
}
.footer-left {
  font-size: 20px;
}
#footer-email {
  padding: 3px 10px;
  font-size: 23px;
  outline: none;
}
#footer-btn {
  padding: 3px 10px;
  font-size: 23px;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  background-color: red;
  border: none;
  color: white;
  border-radius: 3px;
}
#footer-btn:hover {
  background-color: rgb(180, 64, 64);
}

/* form style */

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.form {
  position: relative;
  top: 190px;
  left: -15px;
  transform: translate(-50%, -50%);
  width: 100%;

  background-color: rgb(255, 255, 255);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(255, 255, 255, 0.301);
  z-index: 10;
}
